<section class="d-none d-md-block full-height-section text-center parallax-window"
         data-parallax="scroll"
         data-image-src="{{ section.image }}">

	<div class="container h-100 d-flex flex-column justify-content-center">
		<div class="mx-auto">

			<!--message-->
			{% include index/section/message.html %}

			<!--button-->
			<div class="mt-3">
				{% include index/section/button.html %}
			</div>

		</div>
	</div>
</section>

{% include index/section/splitscreen/mobile-splitscreen.html %}