<section class="full-height-section row text-center"
         style="color: {{ section.text-color }}; background-color: {{ section.background-color }}">

	<!--left image-->
	{% if section.image-side == "left" %}
		<div class="col-6 overflow-hidden">
			<img class="h-100" src="{{ section.image }}" style="overflow-x: hidden;">
		</div>
	{% endif %}

	<div class="col-6 mx-auto my-auto">

		<!--message-->
		<h3 class="section-heading" data-scroll-reveal>{{ section.message }}</h3>

		<!--button-->
		<div class="mt-5">

			<!--todo move to own include-->
			<a class="btn" href="{{ section.button-link }}"
				style="color: {{ section.text-color }};
						 border-color: {{ section.text-color }};
						 background-color: {{ section.background-color }};
                   border-radius: 48px;">

				{{ section.button-label}}
			</a>

			<!--{% include index/section-button.html %}-->
		</div>

	</div>

	<!--right image-->
	{% if section.image-side == "left" %}
	{% else %}
		<div class="col-6 overflow-hidden">
			<img class="w-100" src="{{ section.image }}">
		</div>
	{% endif %}

</section>