@import "card-dropshadows";

@import "../variables";

// scroll reveal
[data-scroll-reveal] {
  visibility: hidden;
}

body {
  background-color: $seashell;
}

.btn-primary {
  color: white!important;
  background-color: $theme-primary!important;
  border-color: $theme-primary!important;
}

.btn-white {
  color: $theme-primary!important;
  background-color: white!important;
  border-color: white!important;
}

.overflow-hidden {
  overflow: hidden;
}

.btn-styled {
  font-weight: 300;
  border-width: .1rem;
  border-radius: 48px;
  width: 12rem;
  height: 2.5rem;

  &:hover {
    opacity: 0.8;
  }
}