<footer>
	<div class="container">
		<div class="row">

			<!--logo and trademark-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-8">
				<!--logo-->
				<img class="footer__logo" src="{{ site.footer-logo }}">

				<!--trademark-->
				<p>
					&copy; {{ 'now' | date: "%Y" }} Tocaya Organica
					<br/>
					Brought to you by <a href="http://www.themaderagroup.com/" target="_blank">The Madera Group</a>.
					<br/>
					All Rights Reserved.
				</p>
			</div>

			<!--newsletter-->
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-8">

				<ul>
					<li class="footer__list__title">Newsletter</li>
					<li class="footer__list__item">
						<form>
							<input class="form-control" placeholder="Your email address...">
						</form>
					</li>
				</ul>

			</div>

			<!--open locations-->
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<ul>
					<li class="footer__list__title">
						<a href="/locations/">Locations</a>
					</li>

					{% for location in site.locations %}
						{% if location.is-open == true %}

							<li class="footer__list__item">{{ location.title }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>

			<!--coming soon locations-->
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<ul>
					<li class="footer__list__title">
						<a href="/locations/">Coming Soon</a>
					</li>

					{% for location in site.locations %}
						{% if location.is-open != true %}

							<li class="footer__list__item">{{ location.title }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>

			<!--social media-->
			<div>
				<ul>
					<li class="footer__list__title">Check Us Out</li>
					<li class="footer__list__item">

						<!--instagram-->
						<a href="{{ site.instagram-link }}" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>

					</li>
				</ul>
			</div>

		</div>
	</div>
</footer>