<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
	<div class="container">

		<!--logo-->
		<a class="d-none d-lg-block navbar-brand" href="/">
			<img src="{{ site.navigation-logo }}">
		</a>

		<!--menu button-->
		<div class="d-block d-lg-none navbar-event-receiver no-collapse w-100">
			<button class="navbar-toggler navbar-toggler-left"
			        type="button"
			        data-toggle="collapse"
			        data-target=".navbar-event-receiver"
			        aria-controls="navbarResponsive"
			        aria-expanded="false"
			        aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>
		</div>

		<!--menu items-->
		<div class="navbar-event-receiver collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">

				{% assign sorted-pages = (site.pages | sort: 'position') %}

				{% for page in sorted-pages %}
					{% if page.show-in-nav-menu == true %}

						<li class="nav-item">
							<a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
						</li>

					{% endif %}
				{% endfor %}

				<!--order online button-->
				<li class="nav-item">
					{% include default/order-online-button.html %}
				</li>

			</ul>
		</div>

	</div>
</nav>