<div class="carousel-item h-100 {% if forloop.first %}active{% endif %}">

	<!--slideshow image-->
	<img class="h-100" src="{{ slide.slide-image }}">

	<div class="carousel-caption">

		<!--foreground image-->
		<div class="row">
			<div class="col-12 col-md-4 mx-auto">

				{% if slide.message-image %}
					<img class="w-100" src="{{ slide.message-image }}">
				{% endif %}
			</div>
		</div>

		{% if slide.message-align == "left" %}
			{% assign tmp-align-classes = "justify-content-start text-left" %}
		{% elsif slide.message-align == "right" %}
			{% assign tmp-align-classes = "justify-content-end text-right" %}
		{% else %}
			{% assign tmp-align-classes = "justify-content-center text-center" %}
		{% endif %}

		<!--message-->
		<div class="row {{ tmp-align-classes }}">
			<div class="d-flex flex-column">

				<!--message-->
				{% include index/section/message.html %}

				<!--button-->
				<div>
					{% include index/section/button.html %}
				</div>
			</div>
		</div>

	</div>
</div>