// Styling for the footer
footer {
    padding: 25px 0;
    color: white;
    background-color: $gray-darker;
    p {
        font-size: 12px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            list-style: none;

            &.footer__list__title {
                margin-bottom: 16px;
            }

            &.footer__list__item {
                font-size: 14px;
            }

            a {
                color: white;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }

    img.footer__logo {
        height: 40px;
    }
}
