// Styling for the navbar
#mainNav.navbar {

    padding: 0; // default: padding: .5rem 1rem;

    // mobile navbar color
    border-color: transparent;
    background-color: transparent;

    @include transition-all;
    @include heading-font;

    .navbar-brand {
        color: $theme-primary;
        @include heading-font;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }

        img {
            height: 30px;
        }
    }

    .navbar-event-receiver.collapse.no-collapse {
        display: block;

        &.show {
            background-color: white;
        }
    }

    .navbar-event-receiver.collapsing.no-collapse {
        background-color: white;
        height: 100%;
        overflow: unset;
        position: static;

        .navbar-toggler {
            &[aria-expanded="true"] {
                color: black;
                border-color: black;
            }
        }
    }

    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: white;
        border-color: white;

        transition: all .35s ease;
        transition-property: color, border-color;

        margin-top: 0.5rem;
        margin-left: 1rem;

        &[aria-expanded="true"] {
            color: black;
            border-color: black;
        }
    }

    .navbar-collapse {
        padding: 0 1rem .5rem;

        &.collapse.show, &.collapsing {
            background-color: white;
        }
    }

    .navbar-nav {
        > li {
            > a {
                font-size: 11px;
                @include alt-font;
                &.active {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            > a,
            > a:focus {
                color: $theme-primary;
                &:hover {
                    color: $gray-darker;
                }
            }
        }
    }

    @media (min-width: 992px) {
        border-color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.7);
        .navbar-brand {
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color: $theme-primary;
            &:hover {
                color: $gray-darker;
            }
        }
        &.navbar-shrink {
            border-color: fade-out($gray-darker, .9);
            background-color: white;
            .navbar-brand {
                color: $gray-darker;
                &:hover,
                &:focus {
                    color: $theme-primary;
                }
            }
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: $theme-primary;
                &:hover {
                    color: $gray-darker;
                }
            }
        }
    }
}
