<footer>
	<div class="container">
		<div class="row">

			<!--logo and trademark-->
			<div class="footer__col footer__col--xs-text-center col-12 col-md-3">
				<!--logo-->
				<img class="footer__logo" src="{{ site.footer-logo }}">

				<!--trademark desktop-->
				<div class="d-none d-md-block mt-md-5 text-left">
					{% include default/footer/trademark.html %}
				</div>
			</div>

			<!--newsletter-->
			<div class="footer__col footer__col--xs-text-center col-12 col-md-2 pl-md-0 text-left">

				<ul>
					<li class="footer__list__title">Newsletter</li>
					<li class="footer__list__item">

						<!--large screen-->
						<div class="d-none d-md-block">
							{% include default/footer/newsletter-input.html %}
						</div>

						<!--small screen-->
						<div class="d-block d-md-none col-11 mx-auto">
							{% include default/footer/newsletter-input.html %}
						</div>
					</li>
				</ul>

			</div>

			<!--open locations-->
			<div class="footer__col col-6 col-md-2 text-left">
				<ul>
					<li class="footer__list__title">
						<a href="/locations/">Locations</a>
					</li>

					{% for location in site.locations %}
						{% if location.is-open == true %}

							<li class="footer__list__item">{{ location.title }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>

			<!--coming soon locations-->
			<div class="footer__col col-6 col-md-2 text-left">
				<ul>
					<li class="footer__list__title">
						<a href="/locations/">Coming Soon</a>
					</li>

					{% for location in site.locations %}
						{% if location.is-open != true %}

							<li class="footer__list__item">{{ location.title }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>

			<!--social media-->
			<div class="footer__col footer__col--xs-text-center col-12 col-sm-6 col-md-3 mx-auto">
				<ul>
					<li class="footer__list__title d-none d-md-block">Check Us Out</li>
					<li class="footer__list__item">
						<div class="d-inline-flex">

							<!--instagram-->
							<div class="col">
								<a href="{{ site.instagram-link }}" target="_blank">
									<i class="fa fa-instagram"></i>
								</a>
							</div>

							<!--facebook-->
							<div class="col">
								<a href="{{ site.facebook-link }}" target="_blank">
									<i class="fa fa-facebook-square"></i>
								</a>
							</div>

							<!--twitter-->
							<div class="col">
								<a href="{{ site.twitter-link }}" target="_blank">
									<i class="fa fa-twitter-square"></i>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<!--trademark mobile-->
			<div class="footer__col footer__col--xs-text-center col-12 d-block d-md-none">
				{% include default/footer/trademark.html %}
			</div>

		</div>
	</div>
</footer>