@import "../variables";

section.primary-section {

  background-size: cover;
  color: white;

  position: relative;
  padding: 150px 0;

  h2 {
    font-size: 50px;
    margin-top: 0;
  }

  .primary-section__button {

    display: block;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    @media(min-width: $screen-md) {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  @media(min-width: $screen-md) {
    h2 {
      font-size: 70px;
    }
  }
}

section.secondary-section {
  padding-top: 0;
  padding-bottom: 5rem;
}