@import "../variables";

section.full-height-section {
  padding-top: 0;
  padding-bottom: 0;

  mark {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }

  .cover-image {
    object-fit: cover;
  }

  .message {
    font-weight: 300;
  }

  // slideshow
  .carousel-caption {
    bottom: unset;
    top: 25%;

    .message {

    }
  }

  // parallax
  &:not(.parallax-window) {
    background-color: $seashell;
  }

  &.parallax-window {

    background-size: cover;
    position: relative;
    padding: 150px 0;

    // to minimize the parallax jumpiness
    border-top: 10px solid $seashell;
    border-bottom: 10px solid $seashell;
  }

  // cards
  &:not(.card-section) {
    height: 100vh;
  }

  &.card-section {
    min-height: 100vh;

    .card {
      border: none;

      .card-body {
        height: 14rem;
        min-height: 14rem;
        max-height: 14rem;
      }
    }
  }
}