@import "../mixins";
@import "../variables";

section.full-height-section {
  padding-top: 0;
  padding-bottom: 0;

  .message {
    @include heading-font;
  }

  .cover-image {
    background-size: cover;
  }

  // parallax
  &:not(.parallax-window) {
    background-color: $seashell;
  }

  &.parallax-window {

    background-size: cover;
    position: relative;
    padding: 150px 0;
  }

  // cards
  &:not(.card-section) {
    height: 100vh;
  }

  &.card-section {
    min-height: 100vh;

    .card {
      border: none;

      .card-body {
        height: 14rem;
        min-height: 14rem;
        max-height: 14rem;
      }
    }
  }
}