<section class="d-block d-md-none p-0 mobile-section">

	<!--top half-->
	<div class="carousel-item active">

		<!--slideshow image-->
		<img class="d-block w-100" src="{{ section.mobile-image }}">

		<!--button and text (if no bottom half)-->
		{% if section.mobile-bottom-color %}
		{% else %}
			<div class="carousel-caption h-100 p-0 d-flex flex-column justify-content-center">
				<div>

					<!--message-->
					<h4 data-scroll-reveal>{{ section.message }}</h4>

					<!--button-->
					<div class="mt-3">
						{% include index/section-button.html %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>

	<!--bottom half-->
	{% if section.mobile-bottom-color %}
		<div class="w-100 py-5 text-center mobile-section__bottom-half"
		     style="background-color: {{ section.mobile-bottom-color }};">

			<!--message-->
			<h4 class="my-5">{{ section.message }}</h4>

			<!--button-->
			<div class="my-5">
				{% include index/section-button.html %}
			</div>
		</div>
	{% endif %}

</section>