<div class="d-block d-md-none carousel slide home__carousel">
	<div class="carousel-inner">

		<!--only one item in carousel-->
		<div class="carousel-item active">

			<!--slideshow image-->
			<img class="w-100" src="{{ page.mobile-header.background-image }}">

			<div class="home__carousel__logo carousel-caption">

				<!--foreground image-->
				<div class="row">
					<div class="col-12 mx-auto">
						<img class="w-100" src="{{ page.mobile-header.foreground-image }}">
					</div>
				</div>

				<!--order online button (mobile)-->
				<div class="row mt-5">
					<div class="mx-auto mt-5">
						{% include default/order-online-button.html %}
					</div>
				</div>
			</div>

		</div>

	</div>
</div>