<section class="primary-section text-center" style="background-image: url('{{ page.primary-section.image }}');">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">

				<!--message-->
				<h2 class="section-heading" style="color: {{ page.primary-section.message-color }};">
					{{ page.primary-section.message }}
				</h2>

				<!--button-->
				<div class="primary-section__button-container">
					<a class="btn btn-primary primary-section__button"
					   href="{{ page.primary-section.button-link }}">
						{{ page.primary-section.button-label }}
					</a>
				</div>

			</div>
		</div>
	</div>
</section>