<!--desktop-->
<!--first section is presented the same as mobile-->
{% assign section = page.sections | first %}
<section class="d-none d-md-block primary-section text-center parallax-window"
         data-parallax="scroll"
         data-image-src="{{ section.image }}">

		{% include index/section-contents.html %}
</section>

<!--remaining sections are shown as cards-->
<section class="d-none d-md-block card-section">
	<div class="container">
		<div class="row">
			{% for section in page.sections %}

				{% if forloop.first != true %}

					{% include index/section-contents-card.html %}

				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>

<!--mobile-->
{% for section in page.sections %}
	<section class="d-block d-md-none p-0 mobile-section">
		<div class="carousel-item active">

			<!--slideshow image-->
			<img class="d-block w-100" src="{{ section.mobile-image }}">

			<div class="carousel-caption h-100 p-0 d-flex flex-column justify-content-center">

				<div>
					<!--message-->
					<h4>{{ section.message }}</h4>

					<!--button-->
					{% if section.mobile-bottom-color %}
					{% else %}
						<div class="mt-3">
							{% include index/section-button.html %}
						</div>
					{% endif %}

				</div>
			</div>
		</div>

		{% if section.mobile-bottom-color %}
			<div class="w-100 py-5 text-center" style="background-color: {{ section.mobile-bottom-color }};">

				<!--second message-->
				<!--<h4 class="mb-4" style="color: white;">{{ section.message }}</h4>-->

				<!--button-->
				<div class="my-3">
					{% include index/section-button.html %}
				</div>
			</div>
		{% endif %}

	</section>
{% endfor %}