<header>
	<div class="w-100 h-100">

		<!--desktop slideshow-->
		<div class="d-none d-md-block carousel slide home__carousel"
		     data-ride="carousel"
		     data-interval="4000"
		     data-wrap="true"
		     data-keyboard="false"
		     data-pause="false">

			<div class="carousel-inner">
				{% for slide in page.slideshow %}

					{% include index/slideshow-item.html %}
				{% endfor %}
			</div>
		</div>

		<!--mobile slideshow-->
		{% include index/mobile-slideshow.html %}

	</div>
</header>