<header>
	<div class="row h-100">

		<!--desktop-->
		<div class="carousel slide home__carousel d-none d-md-block " data-ride="carousel">
			<div class="carousel-inner">
				{% for image in page.slideshow.images %}

					{% include index/slideshow-item.html %}
				{% endfor %}
			</div>
		</div>

		<!--mobile-->
		<div class="carousel slide home__carousel d-block d-md-none" data-ride="carousel">
			<div class="carousel-inner">
				{% for image in page.slideshow.mobile-images %}

					{% include index/slideshow-item-mobile.html %}
				{% endfor %}
			</div>
		</div>

	</div>
</header>