<div class="carousel-item {% if forloop.first %}active{% endif %}">

	<!--slideshow image-->
	<img class="w-100" src="{{ slide.slide-image }}">

	<div class="home__carousel__logo carousel-caption">

		<!--foreground image-->
		<div class="row">
			<div class="col-4 mx-auto">

				{% if slide.message-image %}
					<img class="w-100" src="{{ slide.message-image }}">
				{% endif %}
			</div>
		</div>

		<!--message-->
		<div class="row">
			<p class="mx-auto home__carousel__message
				{% if slide.message-image %}
				{% else %}
					home__carousel__message--large
				{% endif %}
				">{{ slide.message }}</p>
		</div>

	</div>

</div>